*
{
    background-color: black;
}

a .favorite:visited{
    color: black;
}

.input-field {
    background: #2f3640;
    height: 100px;
    width: 375px;
    border-radius: 40px;
    padding: 10px;
    margin-top: 50px;
    margin-bottom: 50px;
    justify-content: center;
    align-items: center;
}

.input-text {
    box-shadow: none;
    padding-left: 10px;
    background: none;
    outline:none;
    float:left;
    padding: 0;
    color: white;
    font-size: 16px;
    line-height: 40px;
    width: 300px;
    margin-top: 12px;
}

.input-field{
    padding: 10px;
    margin: 30px auto;
}



#search
{
    color: white;
    display: flex;
    font-size: 20px;
    margin-top: 25px;
    padding-left: 20px;
    background-color: transparent;
    border: none;
    box-shadow: none;
    cursor: pointer;
}

.card:hover {
    box-shadow: 0 0 8px 1px #B71C1C;
}

#icons
{
    background-color: transparent;
}

input, select, textarea{
    color: white;
}

textarea:focus, input:focus {
    color: white;
}

#movieInfo
{
    color: white;
}

#movieDetails
{
    color: white;
}
